/*main navigation*/
.main-nav {
  color: white;
  display: flex;
  width: 100%;
}

nav ul li {
  display: inline-flex;
}

.header-left {
  flex: 1;
  width: 600px;
  /*flex-shrink: 3;*/
}

.header-left li {
  padding: 5px;
}

.header-right {
  flex: 8;
  justify-items: end;
  font-family: Libre Franklin, sans-serif;
  width: 900px;
}

.header-right ul {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.header-right li {
  display: inline-block;
  padding: 10px 18px;
  position: static;
}

.buy ul {
  display: none;
}
.buy:hover ul {
  display: block;
  position: absolute;
}

.buy ul li {
  display: block;
  border-color: black;
}

.sell ul {
  display: none;
}

.button {
  background-color: transparent;
  padding: 5px 5px;
  border: 1px solid #ccc;
  color: white;
}

@media (max-width: 760px) {
  .header-right ul li {
    display: none;
  }
}
