* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background: url("images/Computer-2.jpg") no-repeat 0% -14%;
  background-size: 100vw 100vh;
  top: 0px;
}

/*navigation bar*/

.navbar {
  background: #000000;
  width: 100%;
  height: auto;
  position: fixed;
}

.navbar a {
  float: left;
  display: block;
  margin: 0px;
  text-align: center;
  text-decoration: none;
  padding: 20px;
  transition: all 1s ease-out;
  color: #c0c0c0;
}

.navbar ul {
  text-align: center;
  height: 50px;
  margin-top: 10px;
}

.navbar li {
  display: inline-block;
}

.navbar a:hover {
  text-decoration: underline;
}

/*side menu*/
.side-nav {
  position: fixed;
  background-color: #000080;
  opacity: 0.8;
  height: 100%;
  width: 0;
  z-index:1; 
  overflow-x: hidden;
  padding-top: 60px;
}

.side-nav a {
  font-family: "Arial", Serif;
  color: #c0c0c0;
  display: block;
  text-decoration: none;
  font-size: 22px;
  padding: 10px;
}

.side-nav .btn-close {
  position: absolute;
  top: 0px;
  font-size: 36px;
  margin-left: 50px;
  right: 22px;
}

/*Navigation Bar and side menu media queries*/
@media (max-width: 500px){
  .navbar-nav {
    display: none;
  }
}

@media (min-width: 500px){
  .open-slide, .side-nav {
    display: none;
  }
}

/*intro section*/
#intro {
  display: block;
  padding-top: 100px;
  width: auto;
  height: 500px;
  text-align: center;
}

/*about section*/
#about {
  display: grid;
  width: 500px;
  grid-template-columns: 1fr 1fr;
  height: auto;
  margin: auto;
  padding: 0px 10px 10px 10px;
}

#about h2 {
  grid-column: 1/3;
  padding: 10px;
  text-align: center;
}

#about .bio {
  background-color: #c0c0c0;
}

#about resume {
  width: 100%;
  margin: auto;
  text-align: center;
}

#about button {
  display: block;
  width: 100px;
  margin: auto;
  border: none;
  background-color: #000080;
  color: #c0c0c0;
}

/*skills section*/
#skills {
  display: block;
  width: auto;
  height: auto;
  text-align: center;
  padding: 10px 10px 50px 10px;
}

.skills-ul {
  width: 200px;
  margin: auto;
}

.skills-ul li {
  text-align: left;
}

/*projects section*/

img {
  display: block;
  margin: 0 auto;
}

#projects {
  display: block;
  height: auto;
  text-align: center;
  padding: 10px;
}

#projects h2 {
  display: block;
  text-align: center;
}

#restaurant:hover, #real-estate:hover {
  transform: scale(1.1)
}
/*
main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  height: auto;
}
*/

.content {
  display: flexbox;
  width: 100%;
  margin: auto;
}

#restaurant,
#real-estate {
  display: inline-block;
  width: 300px;
  margin: 20px;
  padding: 5px;
}

.content .desc {
  width: 300px;
  height: 200px;
  background-color: #c0c0c0;
  padding: 0px;
}

.content a {
  text-decoration: none;
  color: #000000;
}

/*blog*/
/*
#blog {
  display: block;
  height: auto;
  text-align: center;
}
*/

/*contact section*/
div.contact-bg {
  background-color: #000000;
}

#contact {
  display: block;
  width: 500px;
  margin: auto;
  height: auto;
  text-align: center;
  padding: 10px 10px 50px 10px;
  background-color: #000000;
}

#contactForm {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
}

#contact form label {
  display: block;
  color: #c0c0c0;
}

#contact form .form {
  display: block;
}

#contact form .full {
  grid-column: 1 / 3;
  grid-gap: 10px;
}

#contact form .form,
#contact form .full {
  padding: 0px;
  margin: 0px;
}

#contact form button,
#contact form input,
#contact form textarea {
  width: 100%;
  padding: 0px;
}

#contact form button {
  border: none;
  background-color: #000080;
  color: #c0c0c0;
}

#contact form textarea {
  padding: 0px;
  text-indent: 0px;
  text-align: start;
}

.alert {
  text-align: center;
  padding: 10px;
  background: #79c879;
  color: #ffffff;
  margin-bottom: 10px;
  display: none;
}

/*SMARTPHONE SCREENS*/
@media only screen and (max-width: 480px) {
  /*media query test
  body {
    display: none;
  }
  */
  #about {
    display: block;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    height: auto;
    margin: auto;
    padding: 0px 10px 10px 10px;
  }

  #about .bio {
    width: 289px;
    padding: 5px;
    margin: auto;
  }

  #about  button {
    margin: 5px auto;
  }

  body {
    background-position: top left;
    width: 390px;
  }

  #intro {
    display: block;
    padding-top: 100px;
    width: auto;
    height: 300px;
    text-align: center;
  }

  /*about section*/

  /*projects section*/
  #projects main {
    display: block;
    width: 100%;
    height: auto;
    text-align: center;
  }

  /*contact section*/

  #contact {
    display: block;
    width: 100%;
    margin: auto;
    height: auto;
    text-align: center;
  }

  #contact form {
    display: block;
  }

  #contact form .form,
  #contact form .full {
    width: 100%;
  }
}

@media only screen and (max-width: 860px) and (min-width: 500px) {
  #intro {
    display: block;
    padding-top: 100px;
    width: auto;
    height: 500px;
    text-align: center;
  }
}
